// Variables

//
// Color system
//

$green:       #5bc88d;
$red:         #c63040;
$light-gray:  #f2f2f2;
$border-gray: #dcdcdc;
$text-gray:   #9aa7b0;
$dark-blue:   #0b344b;
$white:       #ffffff;
$black:       #000000;

$colors: ();
$colors: map-merge((
        "green":       $green,
        "red":         $red,
        "light-gray":  $light-gray,
        "border-gray": $border-gray,
        "text-gray":   $text-gray,
        "dark-blue":   $dark-blue,
        "white":       $white,
        "black":       $black,
), $colors);
