// Variables

//
// Color system
//

$green:       #5bc88d;
$red:         #c63040;
$light-grey:  #f1f1f1;
$border-grey: #dcdcdc;
$text-grey:   #9aa7b0;
$dark-blue:   #0b344b;
$white:       #ffffff;
$black:       #000000;
